body {
    background-color: #000;
    font-family: "VT323", monospace;
    margin: 0;
}

header {
  background-color: #000;
  padding: 0.6em 1.4em;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.container-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



h1 {
    font-size: 2.1rem;
    color: #C9AB81;
    margin: 0;
    font-weight: bold;
}
  
nav a {
    font-size: 1.2rem;
    color: #f9f8eb;
    text-transform: uppercase;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav li {
    margin-left: 2em;
}

nav a {
    text-decoration: none;
}




 
nav a:hover,
nav a.active,
nav a:focus {
  color: #C9AB81;
}

.ramen-banner-img{
    height: 600px;
    width: 100%;
}

.section{
    margin: auto;
    width: 60%;
}

.section h1{
    margin-top: 6%;
    text-align: center;
}
 
.section p, ul{
    color: #fff;
    text-align: center;
    font-size: 1.2em;
    line-height: 1.5em;
}

.button-link{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
}

.flexrow-main{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.flexrow-main img{
  height: 400px;
  width: 40%;
  object-fit: contain;
  margin-right: 18px;
}

.button-link a{
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    background-color: #C9AB81;
    padding: 10px 40px;
    border-radius: 22px;
}

.menu-section{
    margin: auto;
    width: 100%;
}

.menu-section h1{
    margin-top: 6%;
    text-align: center;
}

.contact-section {
    margin: auto;
    width: 90%;
}

.contact-section h1{
    margin: 2% 0%;
    text-align: center;
}

.contact-section h2{
  color: #C9AB81;
}

.contact-section p{
    color: #fff;
    font-size: 1.1em;
    line-height: 1.4em;
}


.mobile{
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 1.1em;
  line-height: 1.6em;
}

.table-icon{
    height: 24px;
    width: 24px;
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: auto;
    padding: 0;
    width: 90%;
    table-layout: fixed;
    margin-top: 3%;
  }
  
  table caption {
    font-size: 1.6em;
    margin: .5em 0 .75em;
  }
  
  table thead tr {
    background-color: #000;
    color: #C9AB81;
    border: 1px solid #ddd;
    font-size: 24px;
  }

  table tr {
    background-color: #000;
    color: #ffffff;
    border: 1px solid #ddd;
    padding: .30em;
  }
  
  table th,
  table td {
    padding: 20px;
    text-align: center;
  }
  
  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }


  .footer-basic {
    margin-top: 12px;
    padding:20px 0;
    background-color: #C9AB81;
    color:#000;
  }
  
  .footer-basic .copyright {
    margin-top:14px;
    text-align:center;
    font-size:14px;
    color:rgb(0, 0, 0);
    margin-bottom:0;
  }
  

  @media (max-width: 1024px) {
    .ramen-banner-img{
      height: 420px;
      width: 100%;
    }
      table {
        border: 1px solid #ccc;
        border-collapse: collapse;
        margin: auto;
        padding: 0;
        width: 96%;
        table-layout: fixed;
        margin-top: 4%;
      }

  }

@media (max-width: 768px) {
  .container {
      text-align: center;
  }

  .container-nav {
      flex-direction: column;
  }

  nav ul {
      flex-direction: column;
  }

  nav li {
      margin: 0.8em 0;
  }

  .section{
      margin: auto;
      width: 90%;
  }

  .ramen-banner-img{
      height: 320px;
      width: 100%;
  }

  .flexrow-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .flexrow-main img{
    height: 240px;
    width: 100%;
    object-fit: contain;
    margin-right: 0px;
  }

  table {
      border: 0;
      width: 90%;
    }

    table caption {
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    table td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
}

@media (max-width: 480px) {
    .ramen-banner-img{
        height: 280px;
        width: 100%;
    }
}
              